@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body
{
    background: #dcdce1;
  
}

.img-list
{
    max-width: 100px;
    height: auto;
}

.img-card-custom
{
    max-width: 100%;
    height: 8rem;
    object-fit: cover;
}
